
h1{
    color: rgb(0, 0, 167); 
    font-family: Trebuchet MS
}
h2{
    color: rgb(1, 1, 104); 
    font-family: Trebuchet MS
}
h3{
    color: rgb(1, 1, 104); 
    font-family: Trebuchet MS
}
.contact {
    background-color: rgb(255, 227, 168);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-color: black;
    max-width: 500px;
}
body {
    background-color: rgb(255, 237, 205);
}